<div class="jumbotron jumbo_padds2">
  <!--<div ng-app="myApp" ng-controller="myController">
    <table>
      <tr ng-repeat="item in myList">
        <td>{{item.foo}}</td>
        <td>{{item.bar}}</td>
        <td>
          <input type="radio" value="1" ng-model="item.active"/>Active
          <input type="radio" value="0" ng-model="item.active"/>Inactive</td>
      </tr>
    </table>
    <hr/>
    {{myList}}
    <input type="button" ng-click="ok()" value="save" />
  </div>-->
<div class="eol-center">
  <div class="head_desc">
    <label id="head_font">Post your Project</label><br />
    <label>Post your project details below</label>
  </div>

<div data-ng-app data-ng-controller="postProjectCtrl">
  <form name="regUser"><!--novalidate ng-submit="loginform.$valid && login.submit()"-->


    <table class="table-responsive table_left" id="table_gap" >
          <tr>
            <td class="tablerow_fontgap">Project/Task Name</td>
          </tr>
          <tr>
            <td class="tablerow_fontgap"><input ng-model="project.projectName" type="text" class="tabletext_gap"/></td>
          </tr>
          <tr><td class="tablerow_fontgap">Description</td></tr>
          <tr><td style="width: 10px;"><input type="text" ng-model="email" class="tabletext_gap" id="tabletext_height"/></td></tr>
          <tr><td class="tablerow_fontgap">Category</td></tr>
          <tr><td class="tablerow_fontgap">

            <div>
              <select data-ng-model="option1" data-ng-options="option for option in options1" data-ng-change="getOptions2()">
              </select>
              <select data-ng-model="option2" data-ng-options="option for option in options2" data-ng-show='options2.length'>
              </select>
            </div>

          </td></tr>
          <tr>
            <td class="tablerow_fontgap">Specific Skill required</td>
          </tr>
          <tr>
            <td><input ng-model="requiredSkills" type="text"/></td>
          </tr>

        </table>
    <div class="btn-group" style="float: right; margin-right: 846px; text-align:left; margin-top: 21px;">
      <button type="button" class="btn btn-info" aria-expanded="false" style="font-size: 16px; padding: 2px 24px;" onclick="loginError()" id="todo">Submit..
      </button>
    </div>

    <div id="">
      {{project}}
    </div>
    <div class="row">
      <div id="div1" class="col-md-8" style="{float:left;}">
        Div 1 Text
      </div>
      <div id="div2" class="col-md-4" style="{float:right;}">
        <img src="/images/che_demo.jpg" class="img-responsive"/>
      </div>
      <div id="div3" class="col-md-8" style="{float:left;}">
        Div 2 Text
      </div>
    </div>

  </form>

  </div>
</div>
</div>
</div>
