<div class="jumbotron jumbo_padds">
  <!--<div ng-app="myApp" ng-controller="myController">
    <table>
      <tr ng-repeat="item in myList">
        <td>{{item.foo}}</td>
        <td>{{item.bar}}</td>
        <td>
          <input type="radio" value="1" ng-model="item.active"/>Active
          <input type="radio" value="0" ng-model="item.active"/>Inactive</td>
      </tr>
    </table>
    <hr/>
    {{myList}}
    <input type="button" ng-click="ok()" value="save" />
  </div>-->

  <form class="regUser" name="regUser" ng-submit="createEnterDocJSON(regUserList)">


    <div>
      <label>First Name</label><br />
      <input type="text" ng-model="fName"/>
    </div>
    <div>
      <label>Last Name</label><br />
      <input type="text" ng-model="fName"/>
    </div>
    <br />
    <div>
      <label>Email</label><br />
      <input type="text" ng-model="fName"/>
    </div>




    <!--    <table class="table-responsive left_col1" >
          <tr>
            <td>First Name</td>
            <td class="left_col2">Last Name</td>
          </tr>
          <tr>
            <td><input ng-model="fName" type="text"/></td>
            <td class="left_col2"><input type="text" ng-model="lName"></td>
          </tr>
          <tr><td>Email</td></tr>
          <tr><td style="width: 10px;"><input type="text" ng-model="email"></td></tr>
          <tr><td>Username</td></tr>
          <tr><td><input type="text" ng-model="username"></td></tr>
          <tr>
            <td>Password</td>
            <td class="left_col2">Retype Password</td>
          </tr>
          <tr>
            <td><input ng-model="fName" type="text"/></td>
            <td class="left_col2"><input type="text" ng-model="lName"></td>
          </tr>

        </table>
    -->




    </table>
  </form>
</div>
