<div class="jumbotron" style="padding-bottom: auto; text-align: center;">
    <style type="text/css" rel="stylesheet">
        th{
            text-align: center;
        }
    </style>
    <h3>List of Projects</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Candidate Suggested by us</th>
            <th>Candidate found by Client</th>
            <th>Suggestion</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a ng-href="#/cell 1">Table cell</a></td>
            <td>Table cell</td>
            <td>Table cell</td>

            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-info" aria-expanded="false" style="font-size: 12px; padding: 2px 24px;" ng-click="customNavigate('client')" >Suggest Candidate</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a ng-href="#/cell 1">Table cell</a></td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-info" aria-expanded="false" style="font-size: 12px; padding: 2px 24px; ">Suggest Candidate</button>
                </div>
            </td>


        </tr>

        <tr>
            <th scope="row">3</th>
            <td><a ng-href="#/cell 1">Table cell</a></td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-info" aria-expanded="false" style="font-size: 12px; padding: 2px 24px; ">Suggest Candidate</button>
                </div>
            </td>


        </tr>

        </tbody>

    </table>

</div>